
<%# ******************************* %>

<%# ------------------------------------------------------------ %>
       <form class="form-inline my-2 my-lg-0 d-flex" action="/search/filter" method="get" accept-charset="UTF-8">
 <div>
 <div>
    <input type="text" class="form-control" placeholder="Search" name="s" id="s">
    <button class="btn my-2 my-sm-0" type="submit" style="border:1px solid "><i class="fa fa-search" style="color: #000"></i></button>
 </div>
    <select class="custom-select" style="width:140px;" name="category" id="category">
     <option value="All">All categories</option>
      <%@categories.each do |category|%>
       <option value=<%=category.id%>><%=category.name%></option>
        <%end%> 
        </select>
        <select class="custom-select" style="width:140px;" name="brand" id="brand">
        <option value="All">All Brands</option>
         <%@brands.each do |brand|%>
         <option value=<%=brand.id%>><%=brand.name%></option>
        <%end%> 
        </select>
         <select class="custom-select" style="width:140px;" name="price" id="price">
        <option value="All">Price</option>
        <option value="0..9">less than $10</option> 
        <option value="10..20">10 to 20 </option> 
        <option value="20">more than 20</option> 
        </select>
         <select class="custom-select" style="width:140px;" name="seller" id="seller">
        <option value="All">All Sellers</option>
          <%@store.each do |store|%>
         <option value=<%=store.id%>><%=store.name%></option> 
         <%end%>  
        </select>
</div>
</form>