<!DOCTYPE html>
    <html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>  
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
   
       <nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >E-commerce Store</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a style="text-decoration:none"  href="<%= root_path %>">Home </a></li>
        <li> <a style="text-decoration:none"  href="<%= products_path %>">Shop</a></li>
        <li><a href="#"> Features</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-center">
        <li><form class="navbar-form navbar-left" >
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form></li></ul>
 <ul class="nav navbar-nav navbar-right">
       <% if user_signed_in? %>
       <li>
       <a class="nav-link waves-effect">
        <i class="fas fa-shopping-cart"> </i>
              </li>
            </a>
              
           <%# 7walaaPHOTO %>
   <% Store.accessible_by(current_ability).each do |store| %>
<li>
<a href ="<%= store_path(store)%>">
<%= store.name %>
</a>
</li>
<% end %>

<li>
<div class="dropdown ">
  <button class="btn navbar-inverse dropdown-toggle " type="button" data-toggle="dropdown">
  <%if current_user.avatar.attached? %>
    <p style="color:white;"><%= current_user.name %>
    <%= image_tag current_user.avatar , class: 'mini-avatar navbar-nav' %></p>
    <%else%>
  <%= image_tag ('https://cdn2.vectorstock.com/i/1000x1000/98/11/girl-icon-flat-single-avatarpeaople-icon-from-vector-14449811.jpg') , class: 'mini-avatar navbar-nav'%>

    <%end%>
   
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
   <li> <%= link_to 'My Profile', user_index_path ,class: 'navbar-nav' %></li>
  <li > <%= link_to 'Logout', destroy_user_session_path , method: :delete, class: 'navbar-nav' %></li>
<% else %>
<li > <%= link_to 'Sign Up', new_user_registration_path ,class: 'navbar-nav'%> </li>
<li ><%= link_to 'Login', new_user_session_path ,class: 'navbar-nav'%> </li>
<% end %> 
  
  </ul>
</div>
</li>

      </ul>
    </div>
  </div>
</nav>

  
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

    <%= yield %>

 
        <script src="https://kit.fontawesome.com/35722683df.js" crossorigin="anonymous"></script>
  </body>

</html>
